/*-------------------------------
Header
--------------------------------*/
body {
    background-color: #eaeaf0;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23b9b6bd' fill-opacity='0.32'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header ul {
    margin: 0 auto;
}

header img {
    width: 24px;
    height: 24px;
}

header li {
    display: inline-block;
}

.line-break { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

/*-------------------------------
Images
--------------------------------*/

main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

main table {
    margin: 0 auto;
    border-spacing: 20px;
}

img {
    width: 250px;
    height: 250px;
}

.chart-div {
    background-color: #dbe5dd;
    background-image: none;
}